<div class="signup-background">
  <div class="signup-container">
    <div class="signup-card">
      <div class="signup-card-header">
        <h2></h2>
      </div>
      <div class="signup-card-body">
        <form>
          <div class="mb-3">
            <p class="text-muted">
              Link has sent on registered email.please check it
            </p>
          </div>
          <div class="row">
            <div class="col-md-6 offset-md-3 text-center">
              <button class="btn btn-primary btn-block" routerLink="/login">
                Back to Login
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
