.signup-background {
  background-image: url("https://images.unsplash.com/photo-1707343843344-011332037abb?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.signup-container {
  width: 100%;
  max-width: 600px;
  padding: 20px;
}

.signup-card {
  background-color: rgba(250, 230, 219, 0.9);
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(247, 3, 3, 0.1);
  padding: 30px;
  opacity: 0.9;
}

.signup-card-header {
  text-align: center;
  margin-bottom: 20px;
  color: #007bff;
}

.signup-card-header h2 {
  color: rgb(0, 0, 0);
  font-size: 28px;
  font-weight: bold;
}

.signup-card-body .form-control {
  border: none;
  border-radius: 5px;
  background-color: #ffffff;
  padding: 15px 20px;
  margin-bottom: 20px;
}

.signup-card-body .form-control:focus {
  box-shadow: none;
  background-color: #eaeaea;
}

/* .signup-card-body .btn-primary {
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  padding: 15px 0; /

  font-weight: bold;
  transition: background-color 0.3s ease;
  width: 100%;
} */

.signup-card-body .btn-primary:hover {
  background-color: #586068;
}

.signup-card-footer {
  text-align: center;
  margin-top: 20px;
  color: #666;
}

.signup-card-footer a {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
}

.signup-card-footer a:hover {
  text-decoration: underline;
}
