<div class="signup-background">
  <div class="signup-container">
    <div class="signup-card">
      <div class="signup-card-header">
        <h2 class="text-success">Forgot Password</h2>
      </div>
      <div class="signup-card-body">
        <form>
          <div class="form-group">
            <input
              type="email"
              class="form-control"
              name="email"
              [(ngModel)]="email"
              placeholder="Email"
            />
          </div>
          <div class="row">
            <div class="col-md-6 offset-md-3 text-center">
              <button
                type="submit"
                (click)="forgotpass()"
                class="btn btn-success btn-block"
              >
                Send Mail
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
